[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
ta-lib = "*"
v20 = "*"
matplotlib = "*"
pandas = "*"
schedule = "*"
pyyaml = "*"
pyopenssl = "*"
ib-insync = "*"
finta = "*"
requests = "*"
aiohttp = "*"
alpaca-trade-api = "*"
backtesting = "*"
backtrader = "*"

[requires]
python_version = "3.8"
